{% extends 'rango/base.html' %}

{% block title %}Rango Home{% endblock %}

{% block body_block %}
	<div class="jumbotron">
		<h1>Ready to Rango</h1>
		<p>Find, Add, Share and Rango useful links and resources.</p>
	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<h2>Top Five Categories</h2>
				{% if categories %}
					<ul>
						{% for category in categories %}
							<li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					<b><There are no categories present./b>
				{% endif %}
		</div>
		
		<div class="col-xs-6">
			<h2>Top Five Pages</h2>
				{% if pages %}
					<ul>
						{% for page in pages %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endfor %}
					</ul>
				{% else %}
					No pages found!
				{% endif %}			
		</div>
	</div>
{% endblock %}